<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>QuickRecipe</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>myServlet</display-name>
    <servlet-name>myServlet</servlet-name>
    <servlet-class>Controller.myServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myServlet</servlet-name>
    <url-pattern>/myServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>Controller.myServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>authentificationServlet</display-name>
    <servlet-name>authentificationServlet</servlet-name>
    <servlet-class>Controller.authentificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>authentificationServlet</servlet-name>
    <url-pattern>/authentificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deconnexionServlet</display-name>
    <servlet-name>deconnexionServlet</servlet-name>
    <servlet-class>Controller.deconnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deconnexionServlet</servlet-name>
    <url-pattern>/deconnexionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>detailsRecetteServlet</display-name>
    <servlet-name>detailsRecetteServlet</servlet-name>
    <servlet-class>Controller.detailsRecetteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detailsRecetteServlet</servlet-name>
    <url-pattern>/detailsRecetteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gestionProfilServlet</display-name>
    <servlet-name>gestionProfilServlet</servlet-name>
    <servlet-class>Controller.gestionProfilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gestionProfilServlet</servlet-name>
    <url-pattern>/gestionProfilServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>inscriptionServlet</display-name>
    <servlet-name>inscriptionServlet</servlet-name>
    <servlet-class>Controller.inscriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inscriptionServlet</servlet-name>
    <url-pattern>/inscriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>navigationServlet</display-name>
    <servlet-name>navigationServlet</servlet-name>
    <servlet-class>Controller.navigationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>navigationServlet</servlet-name>
    <url-pattern>/navigationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>rechercheServlet</display-name>
    <servlet-name>rechercheServlet</servlet-name>
    <servlet-class>Controller.rechercheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rechercheServlet</servlet-name>
    <url-pattern>/rechercheServlet</url-pattern>
  </servlet-mapping>
</web-app>